*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
}
main{
  background-color:#0F0D13 ;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-one,.player-two, .player-three{
  background-color: #2A2141;
  color: #E1E1E6 ;
  border-radius: 10px;
  text-align: center;
}

.player-one{
  width: 270px;
  height: 500px;
  margin-right: 30px;
  padding: 40px;
}

.player-two{
  width: 360px;
  height: 270px;
  margin-bottom: 30px;
  padding: 30px;
}

.player-three{
  width: 360px;
  height: 200px;
  padding: 30px;
}
.player-two img, .player-three img{
  width: 80px;
  height: 80px;
  margin-right: 29px;
}
.player-two .player-info, .player-three .player-info{
  display: flex;
  align-items: center;
}
.player-control{
  display: flex;
  gap: 50px;
  justify-content: center;
}

.player-control input{
  width: 30px;
  height: 30px;
  border:none;
  background-color: #2A2141;
}
.player-control .back{
  background-image: url("image/play-back.png");
}
.player-control .play{
  background-image: url("image/play.png");
}
.player-control .forward{
  background-image: url("image/play-forward.png");
}

p{
  font-size: 24px;
  font-weight: 700;
}
span{
  margin-top: 10px;
  font-size: 19px;
  font-weight: 400;
  color: rgba(255, 255, 230, 0.5);
}

.player-one .player-info div,.player-control{
  margin: 28px 0;
}
.player-timer div{
  display: flex;
  justify-content:space-between;
}

.player-timer div span{
  font-size: 14px;
}

.player-timer input{
  display: block;
  width: 100%;
}